<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lacia.kill.business.kill.mapper.ItemKillMapper">
    <resultMap id="BaseResultMap" type="cn.lacia.kill.business.kill.domain.ItemKill">
        <!--@mbg.generated generated on Sat Jan 11 19:09:06 CST 2020.-->
        <!--@Table item_kill-->
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="item_id" jdbcType="INTEGER" property="itemId"/>
        <result column="total" jdbcType="INTEGER" property="total"/>
        <result column="start_time" jdbcType="TIMESTAMP" property="startTime"/>
        <result column="end_time" jdbcType="TIMESTAMP" property="endTime"/>
        <result column="active" jdbcType="INTEGER" property="active"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated generated on Sat Jan 11 19:09:06 CST 2020.-->
        id, item_id, total, start_time, end_time, active, create_time
    </sql>
    <select id="selectAllItemKill" resultType="cn.lacia.kill.business.kill.domain.ItemKill">
      SELECT a.*, b.name AS itemName,
	(
		CASE
		WHEN (
			now() BETWEEN a.start_time
			AND a.end_time
			AND a.total > 0
		) THEN
			1
		ELSE
			0
		END
	) AS canKill
    FROM item_kill AS a
    LEFT JOIN item AS b ON a.item_id = b.id
    WHERE a.active = 1
    </select>
    <select id="selectItemKillById" resultType="cn.lacia.kill.business.kill.domain.ItemKill">
              SELECT a.*, b.name AS itemName,
	(
		CASE
		WHEN (
			now() BETWEEN a.start_time
			AND a.end_time
			AND a.total > 0
		) THEN
			1
		ELSE
			0
		END
	) AS canKill
    FROM item_kill AS a
    LEFT JOIN item AS b ON a.item_id = b.id
    WHERE a.active = 1 AND a.item_id = #{id,jdbcType=VARCHAR}
    </select>
</mapper>
