<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.lacia.kill.business.kill.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="cn.lacia.kill.business.kill.domain.User">
    <!--@mbg.generated generated on Sat Jan 11 19:09:27 CST 2020.-->
    <!--@Table user-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="active" jdbcType="TINYINT" property="active" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sat Jan 11 19:09:27 CST 2020.-->
    id, user_name, `password`, phone, email, active, create_time, update_time
  </sql>
</mapper>