<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
</head>
<body>
<div><h3>用户名 : <span th:text="${item.userName}"></span></h3> </div>
<div><h3>订单编号 : <span th:text="${item.code}"></span></h3> </div>
<div><h3>商品名称 : <span th:text="${item.name}"></span></h3></div>
<div><h3>开始时间 : <span th:text="${#dates.format(item.createTime, 'yyyy-MM-dd HH:mm:ss')}"></span></h3></div>
<div>
    <h3 th:switch="${item.status}">
        订单状态 :
        <span th:case="-1">已失效</span>
        <span th:case="0">去付款</span>
        <span th:case="1">查看物流</span>
        <span th:case="2">已取消</span>
    </h3>
</div>
<!--<div><h3><button th:onclick="'kill('+${item.itemId}+')'" th:disabled="${!(item.canKill == 1) }" th:text="${item.canKill == 1 ? '抢购':'已过期'}"></button></h3></div>-->
<script th:src="@{/http.js}" ></script>
<script>
    function kill(id){
        console.log(111);
        http.ajax({
            url: "/item/kill",
            type: 'POST',
            data: JSON.stringify({killId: 6, userId: 2}),
            headers: {
                'Content-Type': 'application/json; charset=UTF-8'
            },
            beforeSend: (xhr) => {
                console.log('request show loading...');
            },
            success: function (result, status, xhr) {
                console.dir(result);
                console.dir(status);
                if (result.status === "200"){
                    alert("秒杀成功");
                }else {
                    alert("秒杀失败");
                }
                console.log('request success...');
            },
            error: (xhr, status, error) => {
                console.dir(status);
                console.dir(error);
                console.log('request error...');
            },
            complete: (xhr, status) => {
                console.log('request hide loading...');
            }
        });
    }
</script>
</body>
</html>
